.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #5268F2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.NavBar-brand {
  display: flex;
  align-items: center;
}

.NavBar-logo .logo {
  width: 120px;
  /*   size of the logo */
  height: auto;
}

.NavBar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavBar-links li {
  margin: 0 20px;
}

.NavBar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.NavBar-links a:hover {
  color: #000708;
  /* Light blue color on hover */
}

.NavBar-links a.active {
  color: #14b0d1;
  /* Active link color */
}

@media (max-width: 768px) {
  .NavBar-logo .logo {
    width: 100px;
    /*   logo size for mobile */
  }

  .NavBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .NavBar-links {
    display: none;
    /* Hide the menu by default on mobile */
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .NavBar-links li {
    margin: 10px 0;
    text-align: center;
  }

  .NavBar-logo .logo {
    width: 100px;
    /*   logo size for mobile */
  }

  /* Hamburger icon styling */
  .NavBar-toggle {
    display: flex;
    /* Show the hamburger icon on mobile */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: absolute;
    /* Position it at the top right */
    top: 20px;
    /*   this value for vertical positioning */
    right: 20px;
    /* Align it to the right side */
  }

  .NavBar-icon {
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
  }

  /* Menu visibility on mobile */
  .NavBar-links.active {
    display: flex !important;
    /* Use !important to override default display */
  }
}